@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 217, 42%, 94%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
    --gemini-sidenav: 213, 43%, 96%;
    --gemini-sidenav-toggle-hover: 60, 64, 67, 0.1;
    --gemini-sidenav-newchat-bg: 212, 24%, 89%;
    --gemini-onhover-conversation-metadata-button-v2: 219.13, 5.49%, 89.22%;
    --gemini-color-on-new-conversation-button: 160, 2%, 27%;
    --gemini-color-main-container-background: 0, 0%, 100%;
    --gemini-color-surface-container-high: 217, 42%, 94%
  }

  .dark,
  :root[class~="dark"] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 210, 5%, 16%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --gemini-sidenav: 210, 3%, 12%;
    --gemini-sidenav-toggle-hover: 232, 234, 237, 0.1;
    --gemini-sidenav-newchat-bg: 210, 5%, 16%;
    --gemini-color-on-new-conversation-button: 0, 0%, 89%;
    --gemini-color-main-container-background: 240, 3%, 8%;
    --gemini-color-surface-container-high: 210, 5%, 16%
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  display: flex;
}